<!DOCTYPE html>
<html>
<head>
    <title>Severe Assessment</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="dashboard-page">

<div class="dashboard">
    <button class="menu-toggle" onclick="toggleSidebar()">☰</button>
    {% include 'sidebar.html' %}

    <div class="content">
        <div class="main-box">

            <h2>Severe Assessment</h2>

            <form method="POST">

                <label>Hopeless feeling?</label>
                <input type="range" name="q1" min="0" max="5" required>

                <label>Low energy?</label>
                <input type="range" name="q2" min="0" max="5" required>

                <label>Sleep issues?</label>
                <input type="range" name="q3" min="0" max="5" required>

                <label>Loss of interest?</label>
                <input type="range" name="q4" min="0" max="5" required>

                <br><br>
                <button type="submit">Analyze</button>

            </form>

        </div>
    </div>

</div>
<script>
function toggleSidebar() {
    document.getElementById("sidebar").classList.toggle("hidden");
}
</script>
</body>
</html>